@model TSolution_Bordfodbold.Entities.Spiller

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Rediger</title>
</head>
<body style="background-color: lightgray">
    <div class="panel-heading" align="center">
        <strong style="font-size:xx-large">@ViewBag.Header spiller</strong>
    </div>
    @using (Html.BeginForm("Rediger", "Spiller"))
    {
        <div class="panel" align="center">
            <div class="panel-body">
                @Html.HiddenFor(s => s.Spiller_ID)
                <table>
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        switch (property.PropertyName)
                        {
                            case "Spiller_ID":
                            case "Scorede_Maal":
                            case "Indkasserede_Maal":
                            case "Vundne":
                            case "Uafgjorte":
                            case "Tabte":
                            case "WS": break;
                            case "Administrator":
                                <tr>

                                    <td>
                                        <b>@(property.DisplayName ?? property.PropertyName)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center" style="padding-top: 10px">
                                        @Html.CheckBox(property.PropertyName, Model.Administrator, new { style = "transform: scale(2.5)" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ValidationMessage(property.PropertyName)
                                    </td>
                                </tr> break;

                            default:
                                <tr>
                                    <td>
                                        <b>@(property.DisplayName ?? property.PropertyName)</b>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.TextBox(property.PropertyName, null, new { @class = "form-control", rows = 1, maxlength = "30" })
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        @Html.ValidationMessage(property.PropertyName)
                                    </td>
                                </tr>break;
                        }
                    }
                </table>
            </div>
            <div class="panel-footer">

                <input type="submit" value="Gem" class="btn btn-primary" />
                @Html.ActionLink("Tilbage", "Spillere", null, new { @class = "btn btn-default" })
            </div>
        </div>

    }
    <div align="center">
        @using (Html.BeginForm("Slet", "Spiller"))
        {
            @Html.Hidden("spiller_ID", Model.Spiller_ID)
            <input type="submit" value="Slet" class="btn btn-danger" />
        }
    </div>
</body>
</html>