@model TSolution_Bordfodbold.Entities.Spiller

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <meta name="viewport" content="width=device-width" />
    <title>Rediger</title>
</head>
<body style="background-color: lightgray">
    @using (Html.BeginForm("Rediger", "Spiller"))
    {
        <div class="panel">
            <div class="panel-body">
                @Html.HiddenFor(s => s.Spiller_ID)
                <table class="table table-condensed table-bordered">
                    @foreach (var property in ViewData.ModelMetadata.Properties)
                    {
                        switch (property.PropertyName)
                        {
                            case "Spiller_ID":
                            case "Scorede_Maal":
                            case "Indkasserede_Maal":
                            case "Vundne":
                            case "Uafgjorte":
                            case "Tabte":
                            case "WS": break;
                            case "Administrator":
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <b>@(property.DisplayName ?? property.PropertyName)</b>
                                        </td>
                                        <td>
                                            @Html.CheckBox(property.PropertyName, Model.Administrator, new { @class = "form-control" })
                                        </td>
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                </tr> break;
                            default:
                                <tr>
                                    <div class="form-group">
                                        <td>
                                            <b>@(property.DisplayName ?? property.PropertyName)</b>
                                        </td>
                                        <td>
                                            @Html.TextBox(property.PropertyName, null, new { @class = "form-control", rows = 1, maxlength = "30"})
                                        </td>
                                        @Html.ValidationMessage(property.PropertyName)
                                    </div>
                                </tr>break;
                        }
                    }
                </table>
            </div>
            <div class="panel-footer">

                <input type="submit" value="Gem" class="btn btn-primary" />
                @Html.ActionLink("Afslut og vend tilbage til listen", "Spillere", null, new { @class = "btn btn-default" })
            </div>
        </div>

    }
    @using (Html.BeginForm("Slet", "Spiller"))
    {
        @Html.Hidden("spiller_ID", Model.Spiller_ID)
        <input type="submit" value="Slet" />
    }
</body>
</html>