@model IEnumerable<TSolution_Bordfodbold.Entities.Spiller>
@using TSolution_Bordfodbold.Entities

@{
    Layout = "_Layout.cshtml";
}

<html>
<body>
    <div style="padding-top: 10px">
        <table class="table table-striped table-condensed table-bordered">
            <tr>
                <th scope="col">Navn</th>
                <th scope="col" class="text-center">Vundne</th>
                <th scope="col" class="text-center">Uafgjorte</th>
                <th scope="col" class="text-center">Tabte</th>
                <th scope="col" class="text-center">Statistik</th>
            </tr>
            @foreach (Spiller spiller in Model)
            {
                <tr>
                    <td>@Html.ActionLink(spiller.Navn, "Rediger", new { spiller.Spiller_ID })</td>
                    <td class="text-center">@spiller.Vundne</td>
                    <td class="text-center">@spiller.Uafgjorte</td>
                    <td class="text-center">@spiller.Tabte</td>
                    <td class="text-center">
                       Statistik
                    </td>
                </tr>
            }
        </table>
        @Html.ActionLink("Opret spiller", "Opret", "Spiller", new { @class = "btn btn-default" })
    </div>

</body>
</html>
