@model TSolution_Bordfodbold.Models.KampViewModel

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Opret</title>
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <script type="text/javascript">
        var hold1Maal = 0;
        var hold2Maal = 0;

        function PlusOnClick1() {
            hold1Maal += 1;
            document.getElementById("hold1Maal").value = hold1Maal;
            
        }
        function MinusOnClick1() {
            if (hold1Maal > 0) {
                hold1Maal -= 1;
            }
            document.getElementById("hold1Maal").value = hold1Maal;
        };

        function PlusOnClick2() {
            hold2Maal += 1;
            document.getElementById("hold2Maal").value = hold2Maal;
        }
        function MinusOnClick2() {
            if (hold2Maal > 0) {
                hold2Maal -= 1;
            }
            document.getElementById("hold2Maal").value = hold2Maal;
        };

        function startTimer(duration, display) {
            var timer = duration, minutes, seconds;
            setInterval(function () {
                minutes = parseInt(timer / 60, 10)
                seconds = parseInt(timer % 60, 10);

                minutes = minutes < 10 ? "0" + minutes : minutes;
                seconds = seconds < 10 ? "0" + seconds : seconds;

                display.textContent = minutes + ":" + seconds;

                if (--timer < 0) {
                    timer = 0;
                }
                
            }, 1000);
        }

        var flag = 0;

        function startCountdown() {
            if (flag == 0) {
                var fiveMinutes = 60 * 5,
                    display = document.querySelector('#time');
                startTimer(fiveMinutes, display);
                flag++;
            }
            
            
        };
    </script>
</head>
<body>
    <div align="center">
        @using (Html.BeginForm("Resultat", "Kamp"))
        {
        <table>
            <tr>
                <td align="center" style="font-size:larger"><strong>Hold 1</strong></td>
                <td align="center" style="font-size:larger"><strong>Timer</strong></td>
                <td align="center" style="font-size:larger"><strong>Hold 2</strong></td>
            </tr>
            <tr>
                <td align="center">
                    @Html.DropDownListFor(m => m.SpillerNr1, new SelectList(Model.Spillere, "Navn"), "Spiller 1", new { style = "width:125px; height:40px; font-size:larger" })
                </td>
                <td align="center" style="font-size:x-large"><span id="time">05:00</span></td>
                <td align="center" >
                    @Html.DropDownListFor(m => m.SpillerNr3, new SelectList(Model.Spillere, "Navn"), "Spiller 1", new { style = "width:125px; height:40px; font-size:larger" })
                </td>
            </tr>
            <tr>
                <td align="center" style="padding-top:10px">
                    @Html.DropDownListFor(m => m.SpillerNr2, new SelectList(Model.Spillere, "Navn"), "Spiller 2", new { style = "width:125px; height:40px; font-size:larger" })
                </td>
                <td></td>
                <td align="center" style="padding-top:10px">
                    @Html.DropDownListFor(m => m.SpillerNr4, new SelectList(Model.Spillere, "Navn"), "Spiller 2", new { style = "width:125px; height:40px; font-size:larger" })
                </td>
            </tr>
            <tr >
                <td align="center" style="font-size:x-large; padding-top:20px">
                    Mål:
                </td>
                <td align="center">
                    <input type="button" value="Start" onclick="startCountdown()" class="btn btn-success"/>
                </td>
                <td align="center" style="font-size:x-large; padding-top:20px">
                    Mål:
                </td>
            </tr>
            <tr>
                <td align="center">
                    @Html.TextBoxFor(m => m.Hold1_Maal, new { id = "hold1Maal", @class = "TextBoxAsLabel text-center", @readonly = "readonly", style = "font-size:35px" })
                </td>
                <td align="center">
                    @Html.RouteLink("Annuller", new { controller = "Home", action = "Index" }, new { @class = "btn btn-danger" })
                </td>
                <td align="center">
                    @Html.TextBoxFor(m => m.Hold2_Maal, new { id = "hold2Maal", @class = "TextBoxAsLabel text-center", @readonly = "readonly", style = "font-size:35px" })
                </td>
            </tr>
            <tr>
                <td align="center">
                    <button id="hold1Plus" type="button" style="width:45px; height: 45px; font-size: 35px; line-height:30px" onclick="PlusOnClick1()">+</button>
                    <button id="hold1Minus" type="button" style="width:45px; height: 45px; font-size: 35px; line-height:30px" onclick="MinusOnClick1()">-</button>
                </td>
                <td align="center">
                    <input type="submit" value="Angiv resultat" class="btn btn-warning" /> 
                </td>
                <td align="center">
                    <button id="hold2Plus" type="button" style="width:45px; height: 45px; font-size: 35px; line-height:30px" onclick="PlusOnClick2()">+</button>
                    <button id="hold2Minus" type="button" style="width:45px; height: 45px; font-size: 35px; line-height:30px" onclick="MinusOnClick2()">-</button>
                </td>
            </tr>
        </table>
        }
    </div>
</body>
</html>
